@import '../theme.css';

.dropdown {
  position: relative;
  cursor: default;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: inherit;
  overflow: hidden;
}

.dropdown-header:focus {
  outline: none;
}

.dropdown-header:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--urd-focus-ring-color), inset 0 0 0 3px var(--urd-focus-ring-offset);
}
