.dropdown-list {
  position: absolute;
  left: 0%;
  right: 0;
  margin: 0;
  padding: 0;
  border-top: none;
  overflow-y: scroll;
  z-index: 1000;
}

.dropdown-list.up {
  top: auto;
  bottom: 100%;
}

.dropdown-list.down {
  top: 100%;
  bottom: auto;
}
